@model ItemDisplay<Procedure>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section Buttons{
        @if (Model.SessionVar == "Ban Nhân Sự")
        {
            <a asp-action="Account" class="header-item">Tài khoản</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if (Model.SessionVar == "Ban Đào Tạo")
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            <a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if ((Model.SessionVar == "Ban Truyền Thông") || (Model.SessionVar == "Ban Sự Kiện"))
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            //<a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if ((Model.SessionVar == "Ban Điều Hành") || (Model.SessionVar == "Ban Cố Vấn") || (Model.SessionVar == "Nhà Sáng Lập") || (Model.SessionVar == "Nhà Đồng Sáng Lập"))
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if (Model.SessionVar.Contains("PT"))
        {
            <a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else
        {
            <a class="header-item"></a>
            //<a asp-action="Notification" class="header-item">Thông báo</a>
            //<a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            //<a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
    }

    @section Login{
        <li class="user-info-item">
            <a target="_blank" href="@Model.Link[1]">Lịch làm việc</a>
        </li>
        <li class="user-info-item">
            <a target="_blank" href="@Model.Link[2]">Báo lỗi</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}


<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/nhanSu&DuAn.css">
</head>
<body>
    @RenderBody()
    <form asp-action="SendProceduresToApproval" method="post" style="z-index: 0;">
        <div class="wrap-back" style="display:flex;">
            <a asp-action="Index"><h2 class="backMainPage"> Trang Chủ</h2></a>
            <p>/</p>
            <a asp-action="Procedure"><h2 style="padding-left: 10px;" class="backMainPage"> Quy trình</h2></a>
            <p>/</p>
            <a asp-action="SendProceduresToApproval"><h2 style="padding-left: 10px;" class="backMainPage"> Gửi duyệt</h2></a>
        </div>

        <div class="wrap-button">
            <input type="hidden" id="isSendToApproval" name="IsSendToApproval" />
            <input type="hidden" id="SendVar" name="SendVar" value="123" />

            <button class="add-nhanSu btn-confirm" onclick="confirm_change()" type="button" id="Send">
                <i class="fa-solid fa-plus"></i>
                Gửi duyệt
            </button>
        </div>

        <div class="wrap-sreach">
            <input name="searchString" class="search" type="text" placeholder="Điền thông tin" value="@Model.CurrentSearchString" autocomplete="off">
            <select name="searchField" id="searchField">
                @if (!String.IsNullOrWhiteSpace(@Model.CurrentSearchField))
                {
                    <option value="@Model.CurrentSearchField">@Model.NameVar[Model.CurrentSearchField]</option>
                }

                @foreach (var item in Model.SearchFieldList)
                {
                    @if ((item != Model.CurrentSearchField) && Model.NameVar.ContainsKey(item))
                    {
                        <option value="@item">@Model.NameVar[@item]</option>
                    }
                }
            </select>
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
                Tìm Kiếm
            </button>
        </div>


        <div class="container mt-2 table-scroll">
            <table>
                <style>
                    table tr:nth-child(1) th {
                        position: sticky;
                        top: 0;
                        background-color: #373F51;
                        color: white;
                    }
                </style>
                <tr style="position: sticky;">
                    <th>
                        ID
                        <button name="sortOrder" id="ID" value="ID" onchange="this.forms.submit">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th>
                        Tên Quy Trình
                        <button name="sortOrder" id="Name" value="Name" onchange="this.forms.submit">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th style="text-align: center;">
                        Ngày Gửi Đi
                        <button name="sortOrder" id="Senddate" value="Senddate" onchange="this.forms.submit">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th style="text-align: center;">
                        Trạng thái
                        <button name="sortOrder" id="Status" value="Status" onchange="this.forms.submit">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th style="text-align: center; width: 5%;">
                        Chức năng
                    </th>
                    <th style="text-align: center; width: 5%;">
                        V
                    </th>
                </tr>


                @foreach (var item in Model.Items)
                {
                    <tr id="0" style="user-select: auto;">
                        <td style="user-select: auto; text-align: center;"> @item.ID</td>
                        <td style="user-select: auto;"> @item.Name</td>
                        <td style="user-select: auto; text-align: center;"> @item.Senddate</td>
                        <td style="user-select: auto; text-align: center;"> @item.Status</td>
                        <td style="user-select: auto; text-align: center;">
                            <button type="button" onclick="location.href='@Url.Action("ProcedureDetail", new { procedureid = item.ID })'">
                                <i class="fa fa-info-circle"></i>
                            </button>
                        </td>
                        <td>
                            <input class="checkboxes" id="@item.ID" style="width: 26px; height:26px;" type="checkbox" onclick="$(this).attr('value', this.checked ? 1 : 0)" />
                        </td>

                        <script>
                        var modelSortOrder = "@Html.Raw(Model.SortOrder)";
                        var idSort = document.getElementById("ID");
                        if (modelSortOrder === "ID") {
                            idSort.value = "ID_desc";
                        }

                        var idSort = document.getElementById("Name");
                        if (modelSortOrder === "Name") {
                            idSort.value = "Name_desc";
                        }

                        var idSort = document.getElementById("Senddate");
                        if (modelSortOrder === "Senddate") {
                            idSort.value = "Senddate_desc";
                        }

                        var idSort = document.getElementById("Status");
                        if (modelSortOrder === "Status") {
                            idSort.value = "Status_desc";
                        }

                        var idSort = document.getElementById("Unit");
                        if (modelSortOrder === "Unit") {
                            idSort.value = "Unit_desc";
                        }

                        </script>
                    </tr>
                }

            </table>
        </div>

        <div style="display: none; min-width: 40%; height: 30%; left: 30%; top: 30%; z-index: ;" class="form-frame" id="change-confirm">
            <a style="text-align: center; color: #000;"> Bạn có chắc chắn muốn gửi duyệt các quy trình này không? </a>
            <div>
                <button class="form-submit" style="color:#000; border: 1px #edcd1f solid;" type="submit">Có</button>
                <button class="form-submit" type="button" onclick="confirm_change_disabled()" style="margin-top: 15px; color:#000; border: 1px #edcd1f solid;">Không</button>
            </div>
        </div>

    </form>

    <style>
        .form-submit {
            background: transparent;
            border: 1px solid #f5f5f5;
            color: #fff;
            width: 100%;
            display: block;
            text-transform: uppercase;
            padding: 6px 2px;
            transition: 0.25s ease-in-out;
            margin-top: 30px;
            text-decoration: none;
            border-radius: 12px;
            text-align: center;
        }

        .form-frame {
            position: fixed !important;
            border-radius: 24px !important;
            padding: 30px 30px 40px;
            background-color: #fff !important;
            box-shadow: 0px 0px 17px 2px #edcd1f;
        }
    </style>

    <script>
        function confirm_change() {
            document.getElementById("isSendToApproval").value = "y";
            var x = document.getElementsByClassName("checkboxes");
            let i;
            let sendVar = new String();
            for (i = 0; i < x.length; i++) {
                sendVar += x[i].id + ":" + x[i].value + "-";
            }
            document.getElementById("SendVar").value = sendVar;
            document.getElementById("change-confirm").style.display = "block";
        }


        function confirm_change_disabled() {
            document.getElementById("change-confirm").style.display = "none";
        }
    </script>

</body>
</html>




