@model ItemDisplay<Link>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section Buttons{
        @if (Model.SessionVar == "Ban Nhân Sự")
        {
            <a asp-action="Account" class="header-item">Tài khoản</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if (Model.SessionVar == "Ban Đào Tạo")
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            <a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if ((Model.SessionVar == "Ban Truyền Thông") || (Model.SessionVar == "Ban Sự Kiện"))
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            //<a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            //<a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if ((Model.SessionVar == "Ban Điều Hành") || (Model.SessionVar == "Ban Cố Vấn") || (Model.SessionVar == "Nhà Sáng Lập") || (Model.SessionVar == "Nhà Đồng Sáng Lâpj"))
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if (Model.SessionVar == "Admin")
        {
            <a asp-action="EditLinks" class="header-item">Links</a>
            <a asp-action="Account" class="header-item">Tài khoản</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else
        {
            <a class="header-item"></a>
            //<a asp-action="Notification" class="header-item">Thông báo</a>
            //<a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            //<a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
    }

    @section Login{
        <li class="user-info-item">
            <a target="_blank" href="@Model.Link[1]">Lịch làm việc</a>
        </li>
        <li class="user-info-item">
            <a target="_blank" href="@Model.Link[2]">Báo lỗi</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}


<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nhanSu&DuAn.css">
    <link rel="stylesheet" href="~/css/subScene.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.20.2/jodit.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.20.2/jodit.min.js"></script>
</head>
<body>
    @RenderBody()
    <div class="wrap-back" style="display:flex;">
        <a asp-action="Index"><h2 class="backMainPage"> Trang Chủ</h2></a>
        <p>/</p>
        <a asp-action="Link"><h2 style="padding-left: 10px;" class="backMainPage"> Quản lý Link</h2></a>
    </div>
    <form asp-action="EditLinks" method="post" id="form">
        <style>
            .text-ProcedureTitle {
                justify-content: center;
                font-size: 30px;
                font-weight: 600;
            }
        </style>
        <div style="display: flex; margin-bottom: 30px;" class="text-ProcedureTitle">
            <div id="name-DuAn">QUẢN LÝ LINK</div>
        </div>

        <style>
            .link {
                color: #00a;
                text-decoration: underline;
                cursor: pointer;
            }
        </style>


        <div class="wrap-themDuAn">
            <table style="width: inherit; height: auto;">
                <tr>
                    <td width="25%">
                        <strong>Loại</strong>
                    </td>
                    <td colspan="2">
                        <strong>Đường dẫn</strong>
                    </td>
                </tr>

                <tr>
                    <td><strong>Biểu mẫu</strong></td>
                    <td>
                        <a style="margin: auto 0" class="link" id="text-link_bieumau">@Model.Items[0].Value</a>
                        <script>
                            var text = document.getElementById("text-link_bieumau");
                            var url = text.innerText;
                            if (!url.match(/^https?:\/\//i)) {
                                url = 'http://' + url;
                            }
                            $("#text-link_bieumau").on('click', function () {
                                window.open(url, "_blank");
                            });
                        </script>
                        <input style="display:none; width: 100%; height:30px; margin: auto 0;" type="url" formnovalidate="formnovalidate" id="input-link_bieumau" value="@Model.Items[0].Value" name="Link_bieumau">
                    </td>
                    <td width="5%">
                        <i style="margin-left: 8px; margin-top: 10px;; cursor: pointer;" class="fa-regular fa-pen-to-square" id="wrap-link_bieumau"></i>
                    </td>
                </tr>

                <tr>
                    <td><strong>Lịch làm việc</strong></td>
                    <td>
                        <a style="margin: auto 0" class="link" id="text-link_lich">@Model.Items[1].Value</a>
                        <script>
                            var text = document.getElementById("text-link_lich");
                            var url = text.innerText;
                            if (!url.match(/^https?:\/\//i)) {
                                url = 'http://' + url;
                            }
                            $("#text-link_lich").on('click', function () {
                                window.open(url, "_blank");
                            });
                        </script>
                        <input style="display:none; width: 100%; height:30px; margin: auto 0;" type="url" formnovalidate="formnovalidate" id="input-link_lich" value="@Model.Items[1].Value" name="Link_lich">
                    </td>
                    <td>
                        <i style="margin-left: 8px; margin-top: 10px;; cursor: pointer;" class="fa-regular fa-pen-to-square" id="wrap-link_lich"></i>
                    </td>
                </tr>

                <tr>
                    <td><strong>Báo lỗi</strong></td>
                    <td>
                        <a style="margin: auto 0" class="link" id="text-link_baoloi">@Model.Items[2].Value</a>
                        <script>
                            var text = document.getElementById("text-link_baoloi");
                            var url = text.innerText;
                            if (!url.match(/^https?:\/\//i)) {
                                url = 'http://' + url;
                            }
                            $("#text-link_baoloi").on('click', function () {
                                window.open(url, "_blank");
                            });
                        </script>
                        <input style="display:none; width: 100%; height:30px; margin: auto 0;" type="url" formnovalidate="formnovalidate" id="input-link_baoloi" value="@Model.Items[2].Value" name="Link_baoloi">
                    </td>
                    <td>
                        <i style="margin-left: 8px; margin-top: 10px;; cursor: pointer;" class="fa-regular fa-pen-to-square" id="wrap-link_baoloi"></i>
                    </td>
                </tr>

            </table>

            <div class="" style="text-align:left; width: inherit; margin-top: 10px;">
                <div style="float: right;">
                    <button class="add-nhanSu btn-confirm" onclick="confirm_change()" type="button" id="Send">
                        <i class="fa-solid fa-plus"></i>
                        Lưu
                    </button>
                </div>
            </div>
        </div>




        <div style="display: none; min-width: 40%; height: 30%; left: 30%; top: 30%; z-index: 1;" class="form-frame" id="change-confirm">
            <a style="text-align: center; color: #000;"> Bạn có chắc chắn muốn thay đổi các đường dẫn này không? </a>
            <div>
                <button class="form-submit" style="color:#000; border: 1px #edcd1f solid;" type="submit">Có</button>
                <button class="form-submit" type="button" onclick="confirm_change_disabled()" style="margin-top: 15px; color:#000; border: 1px #edcd1f solid;">Không</button>
            </div>
        </div>
    </form>

    <script>
        function confirm_change() {
            var urlValid_bieumau = document.getElementById('input-link_bieumau').checkValidity();
            var urlValid_lich = document.getElementById('input-link_lich').checkValidity();
            var urlValid_baoloi = document.getElementById('input-link_baoloi').checkValidity();

            if (!urlValid_bieumau) {
                alert("Link biểu mẫu không hợp lệ!")
            }
            else if (!urlValid_lich) {
                alert("Link lịch làm việc không hợp lệ!")
            }
            else if (!urlValid_baoloi) {
                alert("Link báo lỗi không hợp lệ!")
            }
            else {
                document.getElementById("change-confirm").style.display = "block";
            }
        }

        function confirm_change_disabled() {
            document.getElementById("change-confirm").style.display = "none";
        }

    </script>

    <script>
        $("#wrap-link_bieumau").click(function () {
            document.getElementById("text-link_bieumau").style.display = 'none';
            var input = document.getElementById("input-link_bieumau");
            input.style.display = 'block';
            var end = input.value.length;
            input.setSelectionRange(end, end);
            input.focus();
        })

        $('#input-link_bieumau').change(function () {
            var textName = this.value;
            if (textName) {
                document.getElementById('text-link_bieumau').innerText = `${textName} `;
            }
            else {
                document.getElementById('text-link_bieumau').innerText = `https://www.labthaysinh.com/`;
            }
        })
        $('#input-link_bieumau').focusout(function () {
            document.getElementById("text-link_bieumau").style.display = 'block';
            document.getElementById("input-link_bieumau").style.display = 'none';
        })


        $("#wrap-link_lich").click(function () {
            document.getElementById("text-link_lich").style.display = 'none';
            var input = document.getElementById("input-link_lich");
            input.style.display = 'block';
            var end = input.value.length;
            input.setSelectionRange(end, end);
            input.focus();
        })

        $('#input-link_lich').change(function () {
            var textName = this.value;
            if (textName) {
                document.getElementById('text-link_lich').innerText = `${textName} `;
            }
            else {
                document.getElementById('text-link_lich').innerText = `https://www.labthaysinh.com/`;
            }
        })
        $('#input-link_lich').focusout(function () {
            document.getElementById("text-link_lich").style.display = 'block';
            document.getElementById("input-link_lich").style.display = 'none';
        })


        $("#wrap-link_baoloi").click(function () {
            document.getElementById("text-link_baoloi").style.display = 'none';
            var input = document.getElementById("input-link_baoloi");
            input.style.display = 'block';
            var end = input.value.length;
            input.setSelectionRange(end, end);
            input.focus();
        })

        $('#input-link_baoloi').change(function () {
            var textName = this.value;
            if (textName) {
                document.getElementById('text-link_baoloi').innerText = `${textName} `;
            }
            else {
                document.getElementById('text-link_baoloi').innerText = `https://www.labthaysinh.com/`;
            }
        })
        $('#input-link_baoloi').focusout(function () {
            document.getElementById("text-link_baoloi").style.display = 'block';
            document.getElementById("input-link_baoloi").style.display = 'none';
        })

    </script>
</body>