@model ItemDisplay<Member>



@{
    Layout = "~/Views/Shared/Layout/Members/_Layout_Members.cshtml";
}


@{
    @section Field{
        <select style="height: 30px; float: left; margin-top: 30px;" name="Field" id="Field" onchange="this.form.submit()">
            @if (!String.IsNullOrWhiteSpace(@Model.Field))
            {
                <option value="@Model.Field">@Model.UnitVar[Model.Field]</option>
            }

            @foreach (var item in new List<string>() { "All", "LT", "PT", "BNS" })
            {
                @if ((item != Model.Field))
                {
                    <option value="@item">@Model.UnitVar[@item]</option>
                }
            }
        </select>
    }
}