@model ItemDisplay<Training>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @section Buttons{
        @if (Model.SessionVar == "Ban Nhân Sự")
        {
            <a asp-action="Account" class="header-item">Tài khoản</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if (Model.SessionVar == "Ban Đào Tạo")
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            <a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if ((Model.SessionVar == "Ban Truyền Thông") || (Model.SessionVar == "Ban Sự Kiện"))
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            //<a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if ((Model.SessionVar == "Ban Điều Hành") || (Model.SessionVar == "Ban Cố Vấn") || (Model.SessionVar == "Nhà Sáng Lập") || (Model.SessionVar == "Nhà Đồng Sáng Lập"))
        {
            <a asp-action="Notification" class="header-item">Thông báo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else if (Model.SessionVar.Contains("PT"))
        {
            <a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Project" class="header-item">Dự án</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            <a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
        else
        {
            <a class="header-item"></a>
            //<a asp-action="Notification" class="header-item">Thông báo</a>
            //<a asp-action="Project" class="header-item">Dự án</a>
            //<a asp-action="Training" class="header-item">Bài đào tạo</a>
            <a asp-action="Procedure" class="header-item">Quy trình</a>
            //<a asp-action="Member" class="header-item">Nhân sự</a>
            <a asp-action="Index" class="header-item">Trang chủ</a>
        }
    }

    @section Login{
        <li class="user-info-item">
            <a target="_blank" href="@Model.Link[1]">Lịch làm việc</a>
        </li>
        <li class="user-info-item">
            <a target="_blank" href="@Model.Link[2]">Báo lỗi</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/nhanSu&DuAn.css">
</head>
<body>
    @RenderBody()
    <form asp-action="Training" method="post" style="z-index: 0;">
        <div class="wrap-back" style="display:flex;">
            <a asp-action="Index"><h2 class="backMainPage"> Trang Chủ</h2></a>
            <p>/</p>
            <a asp-action="Procedure"><h2 style="padding-left: 10px;" class="backMainPage"> Bài đào tạo</h2></a>
        </div>

        <div class="wrap-button">
            @if (Model.SessionVar == "Ban Đào Tạo")
            {
                <button class="btn-excel" type="button" onclick="location.href='@Url.Action("ExportTrainingToExcel")'">Xuất file Excel</button>
            }
            else
            {
                <button class="add-nhanSu" type="button" onclick="location.href='@Url.Action("AddTraining")'">Thêm bài đào tạo</button>
                <button class="btn-excel" type="button" onclick="location.href='@Url.Action("ExportTrainingToExcel", new { exportVar = Model.Field})'">Xuất file Excel</button>
            }

        </div>
        <div class="wrap-sreach">
            <input name="searchString" class="search" type="text" placeholder="Điền thông tin" value="@Model.CurrentSearchString" autocomplete="off">
            <select name="searchField" id="searchField">
                @if (!String.IsNullOrWhiteSpace(@Model.CurrentSearchField))
                {
                    <option value="@Model.CurrentSearchField">@Model.NameVar[Model.CurrentSearchField]</option>
                }

                @foreach (var item in Model.SearchFieldList)
                {
                    @if ((item != Model.CurrentSearchField) && Model.NameVar.ContainsKey(item))
                    {
                        <option value="@item">@Model.NameVar[@item]</option>
                    }
                }
            </select>
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
                Tìm Kiếm
            </button>
        </div>


        <div class="container mt-2">
            <table class="table-quyTrinh">

                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tên Bài đào tạo
                        <button name="sortOrder" id="Name" value="Name" onchange="this.forms.submit">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th style="text-align: center;">
                        Ngày xuất bản
                        <button name="sortOrder" id="Date" value="Date" onchange="this.forms.submit">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th style="text-align: center;">
                        Đơn vị
                        <button name="sortOrder" id="Unit" value="Unit" onchange="this.forms.submit">
                            <i class="fa fa-sort"></i>
                        </button>
                    </th>
                    <th style="text-align: center;">
                        Link
                    </th>
                    <th style="text-align: center;">
                        Chức năng
                    </th>
                </tr>

                @if (Model.ItemCount > 0)
                {
                    foreach (var item in Model.Items.Select((x, i) => new { Value = x, Index = i + 1 }))
                    {
                        <tr id="0" style="user-select: auto;">
                            <td style="user-select: auto; text-align: center;"> @item.Index</td>
                            <td style="user-select: auto;"> @item.Value.Name</td>
                            <td style="user-select: auto; text-align: center;"> @item.Value.Date</td>
                            <td style="user-select: auto; text-align: center;"> @item.Value.Unit</td>
                            <td style="user-select: auto; text-align: center; text-decoration: underline;">
                                <a style="color: #00a; text-decoration: underline;" target="_blank" href="@item.Value.Link">
                                    Link
                                </a>
                            </td>
                            <td style="user-select: auto; text-align: center;">

                                @if (Model.SessionVar != "Ban Đào Tạo")
                                {
                                    <button type="button" onclick="location.href='@Url.Action("TrainingDetail", new { TrainingID = item.Value.ID })'">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                    <button type="button" onclick="confirm_detele(@item.Value.ID)" id="deleteMember" value="@item.Value.ID">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" onclick="inforDetail(@item.Value.ID)"><i class="fa fa-info-circle"></i></button>
                                }

                            </td>
                        </tr>
                    }
                }
                <script>
                            var modelSortOrder = "@Html.Raw(Model.SortOrder)";
                            var idSort = document.getElementById("ID");
                            if (modelSortOrder === "ID") {
                                idSort.value = "ID_desc";
                            }

                            var idSort = document.getElementById("Name");
                            if (modelSortOrder === "Name") {
                                idSort.value = "Name_desc";
                            }

                            var idSort = document.getElementById("Date");
                            if (modelSortOrder === "Date") {
                                idSort.value = "Date_desc";
                            }

                            var idSort = document.getElementById("Unit");
                            if (modelSortOrder === "Unit") {
                                idSort.value = "Unit_desc";
                            }

                </script>

            </table>
        </div>
        <table>
            <tr style="font-size: 20px;">
                <td>
                    <div style="float: left;">
                        <a>Tổng số bài đào tạo: </a>
                        <span id="total">@Model.ItemCount</span>
                    </div>
                </td>

                @if (Model.PageCount > 0)
                {
                    <td>
                        <a>Trang: </a>
                        <span id="total">@Model.CurrentPage/@Model.PageCount</span>
                    </td>
                }

                <td>
                    <div style="float: right;">
                        <a href="javascript:PagerClick(1);" class="page-btn"> Đầu </a>

                        @if (Model.CurrentPage != 1)
                        {
                            <a href="javascript:PagerClick(@Model.CurrentPage - 1);" class="page-btn"> Trước </a>
                        }
                        else
                        {
                            <a class="page-btn"> Trước </a>
                        }


                        @{
                            if (Model.CurrentPage <= 3)
                            {
                                for (int i = 1; i <= Math.Min(Model.PageCount, 5); i++)
                                {
                                    @if (i != Model.CurrentPage)
                                    {
                                        <a href="javascript:PagerClick(@i);" class="page-btn">@i</a>
                                    }
                                    else
                                    {
                                        <span style="color:#f00;" class="page-btn">@i</span>
                                    }
                                }
                            }
                            else if (Model.CurrentPage >= Model.PageCount - 2)
                            {
                                for (int i = Math.Max(1, Model.PageCount - 4); i <= Model.PageCount; i++)
                                {
                                    @if (i != Model.CurrentPage)
                                    {
                                        <a href="javascript:PagerClick(@i);" class="page-btn">@i</a>
                                    }
                                    else
                                    {
                                        <span style="color:#f00;" class="page-btn">@i</span>
                                    }
                                }
                            }
                            else
                            {
                                for (int i = Math.Max(1, Model.CurrentPage - 2); i <= Math.Min(Model.PageCount, Model.CurrentPage + 2); i++)
                                {
                                    @if (i != Model.CurrentPage)
                                    {
                                        <a href="javascript:PagerClick(@i);" class="page-btn">@i</a>
                                    }
                                    else
                                    {
                                        <span style="color:#f00;" class="page-btn">@i</span>
                                    }
                                }
                            }
                        }


                        @if (Model.CurrentPage != Model.PageCount)
                        {
                            <a href="javascript:PagerClick(@Model.CurrentPage + 1);" class="page-btn"> Sau </a>
                        }
                        else
                        {
                            <a class="page-btn"> Sau </a>
                        }

                        <a href="javascript:PagerClick(@Model.PageCount);" class="page-btn"> Cuối </a>


                    </div>



                </td>
                <td width="120px">
                    <a style="float: right;">
                        <input type="number" style="width: 50px; height: 23px;" id="hfCurrentPage" name="currentPage" placeholder="1" min="1" max="@Model.PageCount" />
                        <input type="submit" style="height: 23px;" value="Đến">
                    </a>
                </td>
            </tr>

        </table>
    </form>
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hfCurrentPage").value = index;
            document.forms[0].submit();
        }
    </script>

    <style>
        .form-submit {
            background: transparent;
            border: 1px solid #f5f5f5;
            color: #fff;
            width: 100%;
            display: block;
            text-transform: uppercase;
            padding: 6px 2px;
            transition: 0.25s ease-in-out;
            margin-top: 30px;
            text-decoration: none;
            border-radius: 12px;
            text-align: center;
        }

        .form-frame {
            position: fixed !important;
            border-radius: 24px !important;
            padding: 30px 30px 40px;
            background-color: #fff;
            box-shadow: 0px 0px 17px 2px #edcd1f;
        }
    </style>
    @if (Model.PageCount >= 0)
    {
        <style>
            .form-frame table tr td {
                height: 17px;
            }

            .form-frame table td:nth-child(odd) {
                font-weight: bold;
            }

            .nutan {
                height: 40px;
                width: 100px;
                background-color: #edcd1f;
                border-radius: 12px;
            }
        </style>
        if (Model.SessionVar == "Ban Đào Tạo")
        {
            foreach (var item in Model.Items)
            {
                <div style="display: none; width: 80%; height: 70%; top: 110px; left: 10%; z-index: 1;" class="form-frame infor-form" id="@item.ID">
                    <div style="width: 50%;">
                        <table style="width: 100%;">
                            <tr>
                                <td style="text-align: center;" colspan="4">THÔNG TIN BÀI ĐÀO TẠO: <span style="font-weight: bold; color: #ffd800">@item.SubID</span> </td>
                            </tr>
                            <tr> <td width="35%"> Tên bài đào tạo:</td><td> @item.Name</td></tr>
                            <tr> <td width="35%"> Đơn vị:</td><td> @item.Unit </td>
                            <tr> <td width="35%"> Ngày xuất bản:</td><td> @item.Date</td></tr>
                            <tr>
                                <td width="35%"> Link</td>
                                <td nowrap>
                                    <a style="color: #00a; text-decoration: underline;" target="_blank" href="@item.Link">
                                        Link
                                    </a>
                                </td>
                            </tr>

                        </table>
                        <div>
                            @if (Model.SessionVar == "Ban Đào Tạo")
                            {
                                <div style="margin-top: 2%;">
                                    <button type="button" style="left: 20%;" class="nutan" onclick="location.href='@Url.Action("FeedbackTraining", new { traingID = @item.ID})'">Phản hồi</button>
                                    <button type="button" style="float: right !important;" onclick="inforDetail_disabled()" class="nutan">Thoát</button>
                                </div>
                            }
                            else
                            {
                                <div style="margin-top: 2%;">
                                    <button type="button" style="left: 20%;" class="nutan" onclick="location.href='@Url.Action("EditTraining", new { trainingID = @item.ID })'">Sửa bài đào tạo</button>
                                    <button type="button" style="left: 40%;" class="nutan" onclick="confirm_detele(@item.ID)">Xóa</button>
                                    <button type="button" style="float: right !important;" onclick="inforDetail_disabled()" class="nutan">Thoát</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div style="width: 50%;">
                        <table style="width: 100%;">
                            <tr>
                                <td style="text-align: center;">NỘI DUNG BÀI ĐÀO TẠO </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="scroll">
                                        @Html.Raw(item.Content)
                                        <style>
                                            .scroll {
                                                height: 300px;
                                                max-width: 100%;
                                                word-break: break-word;
                                                overflow: scroll;
                                                overflow: -moz-scrollbars-none;
                                                border: 1px #000 solid;
                                            }

                                                .scroll::-webkit-scrollbar {
                                                    width: 0 !important;
                                                    display: none;
                                                }
                                        </style>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        }
        else
        {
            foreach (var item in Model.Items)
            {
                <div style="display: none; width: 40%; height: 30%; left: 30%; top: 30%; z-index: 2; text-align: center;" class="form-frame delete-form" id="@item.ID">
                    <a style="text-align: center; color: #000;"> Bạn có chắc chắn muốn xóa bài đào tạo ID = @item.ID không? </a>
                    <div>
                        <button class="form-submit" style="color:#000; border: 1px #edcd1f solid;" onclick="location.href='@Url.Action("DeleteTraining", new{ trainingID = @item.ID})'" value="Có">Có</button>
                        <button class="form-submit" onclick="confirm_delete_disabled()" style="margin-top: 15px; color:#000; border: 1px #edcd1f solid;">Không</button>
                    </div>
                </div>
            }
        }
    }


    <script>
        function inforDetail(id) {
            var subScene = document.getElementsByClassName("infor-form");
            for (let i = 0; i < subScene.length; i++) {
                subScene[i].style.display = "none";
                if (subScene[i].id == id) {
                    subScene[i].style.display = "flex";
                }
            }
        }

        function inforDetail_disabled() {
            var subScene = document.getElementsByClassName("infor-form");
            for (let i = 0; i < subScene.length; i++) {
                subScene[i].style.display = "none";
            }
        }

        function confirm_detele(id) {
            var subScene = document.getElementsByClassName("delete-form");
            for (let i = 0; i < subScene.length; i++) {
                subScene[i].style.display = "none";
                if (subScene[i].id == id) {
                    subScene[i].style.display = "block";
                }
            }
        }

        function confirm_delete_disabled() {
            var subScene = document.getElementsByClassName("delete-form");
            for (let i = 0; i < subScene.length; i++) {
                subScene[i].style.display = "none";
            }
        }
    </script>
</body>
</html>
</html>
